h1{
    color: rgb(223, 223, 52);
    text-align: center;
    font-family: League spartan;
    text-size-adjust: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: underline rgb(93, 208, 240);
}