div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

.static{
    background-color: rgb(53, 46, 199);
    position: static;
    top: 100px;
    left: 100px;
}
.Relative{
    background-color: rgb(180, 36, 156);
    position: relative;
    top: 100px;
    left: 100px;
}
.Absolute{
    background-color: rgb(230, 29, 29);
    position: absolute;
    top: 100px;
    left: 100px;
}
.Fixed{
    background-color: rgb(14, 116, 231);
    position:fixed;
    top: 100px;
    left: 100px;
}